<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title><%= current_page.data.title %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "app" %>
    </head>
    <body>
        <%= partial 'partials/hero' %>
        <%= partial 'partials/menu' %>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= javascript_include_tag "app" %>
    </body>
</html>
