<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Na Samotě</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag "app" %>
    </head>
    <body data-spy="scroll" data-target=".navbar">
        <%= partial 'partials/hero' %>
        <%= partial 'partials/menu' %>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>

          <hr />

          <footer>
            &copy; pindy 2015
            <span class="karas">Made with <span class="pinkie">&hearts;</span></span>
          </footer>

        </div>
        <%= javascript_include_tag "app" %>
    </body>
</html>
